*{
  text-align: center;
  user-select: none;
}
body {
  display: inline-block;
  padding: 15px;
  border: 10px double red;
  border-radius: 50px;
}
.hide {
  display: none;
}

.show {
  margin: 5px;
  display: inline-block;
  background-color: #1D1;
  border: 2px solid red;
  border-radius: 5px;
  font-size: 15px;
  font-style: italic;
  height: auto !important;
  width: auto !important;
}

input {
  border-radius: 5px;
  width: 60px;
  height: 20px;
  font-size: 20px;

}

#str {
  display: inline-block;
  margin: 0;
}

h3 {
  margin: 5px 0px;
}
