* {
  color: #000;
  background-color: #FFF;
}

i a {
  color: #000;
  background-color: #FFF;
}

body {
    border: 1px black solid;
}

img {
  border: 2px solid black;
}

h1 {
  text-shadow: 0 0 10px black;
}

.button:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px black;
}

.menu:hover {
  opacity: 0.7;
  text-shadow: 0 0 5px black;
  border: 1px solid black;
}

.gg-cont {
  border: 2px solid black;
}

#theme {
  border: 2px black solid;
}

#ctxMenu {
  border: 1px black solid;
}

#color {
  background-color: white !important;
  border: 2px black solid;
  right: 7.5px;
  bottom: 10px;
}

#color i {
  color: black !important;
  background-color: white !important;
}

#top {
  border: 2px solid black;
  background-color: #fff;
  color: black;
}

#navbar {
  left: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  background-color: #333;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
